body {
    background-color: white;
    color: black;
    font-family: cursive;
    font-size: 25px;   /* Browser default is 16px */
    }

a {
    text-decoration: none;
    }

a:hover {
    text-decoration: underline;
    }

h1 {
    text-align: center;
}
