body {
    background-color: white;
    color: black;
    font-family: cursive;
    font-size: 25px;   /* Browser default is 16px */
    text-align: center;
    }

a {
    text-decoration: none;
    }

a:hover {
    text-decoration: underline;
    }

table.watch {
    width: 100%;
    /* margin: 0 auto; */
    }

table.watch th {
    background-color: #651a1a;  /* dark brown (25%) */
    color: white;
    font-size: 30px;
    padding: 20px 20px;
    text-align: left;
    width: 120px;
    }

table.watch td {
    border: solid 1px;
    padding: 1em;
    }

div.time-row {
    margin: 1em auto;
    }

span#hours-minutes {
    font-size: 75px;
    }
